@model IEnumerable<EF_DbFirstApproch.Models.Stock>

@{
    ViewData["Title"] = "Stocks List";
}

<h1>Stocks List</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Create New</a>
</p>

<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.FirstOrDefault().Quantity)</th>
            <th>Product ID</th>
            <th>Store ID</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.Quantity)</td>
                <td>@Html.DisplayFor(modelItem => item.Product.ProductId)</td>
                <td>@Html.DisplayFor(modelItem => item.Store.StoreId)</td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { storeId = item.StoreId, productId = item.ProductId }, new { @class = "btn btn-sm btn-warning" }) |
                    @Html.ActionLink("Details", "Details", new { storeId = item.StoreId, productId = item.ProductId }, new { @class = "btn btn-sm btn-info" }) |
                    @Html.ActionLink("Delete", "Delete", new { storeId = item.StoreId, productId = item.ProductId }, new { @class = "btn btn-sm btn-danger" })
                </td>
            </tr>
        }
    </tbody>
</table>
